.projects {
  margin: 1em;
  text-align: center;
}

.project-container {
  text-align: center;
  width: 70%;
  margin: auto;

}

.card {
  background-color: #89bcc2;
  position: center;
  display: block;
  //width: 70%;
  text-align: center;
  list-style-type: none;
}

h2 {
  padding-top: .5em;
}

p {
  margin: 1em;
  padding: 1em;
}


ul {
  text-align: center;
  padding: 0;
}
li {
  border-radius: 1%;
  text-align: center;
}

img {
  border-radius: 1%;
}