@import 'vars';

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: $background-color;
  background: linear-gradient(to bottom right, #2F4454, #376E6F);
  font-family: 'Roboto', sans-serif;
  color: $font-color;
  height: 100%;
  margin: 0;
  padding: 0;
  // text-align: center;
}

html {
  height: 100%;
}
