//--------------------------------------------------------------
// COLORS
//--------------------------------------------------------------
$background-color: #2F4454;
$blue-gray:  #2F4454;
$dark-red: #2E151B;
$pink: #DA7B93;
$teal: #376E6F;
$dark-gray: #1C3334;
$font-color: #ffffff;
$button-color: #ffffff;




//--------------------------------------------------------------
// SIZE
//--------------------------------------------------------------