//--------------------------------------------------------------
// COLORS
//--------------------------------------------------------------
$background-color: #EDEAE5;
$dark-background-color: #026670;
$header-color: #9FEDD7;
$accent-color: #FCE181;
$pale-accent-color: #FEF9C7;
$font-color: black;

$button-color: #ffffff;




//--------------------------------------------------------------
// SIZE
//--------------------------------------------------------------