.container {
  display: block;
  height: 100%;
}

.active {
  color: #0099FF;
}

.nav {
  text-align: center;
  list-style-type: none;

  li {
    display: inline;
    margin: .5em;
    padding: .5em;
    color: #ffffff;
  }
}

a {
  color: #ffffff;
}

