.home {
  //border-style: dashed;
  //border-color: #DA7B93;
  height: 100%;

  h1 {
    text-align: center;
  }
  img {
    display: block;
    float: right;
    border-radius: 10px;
    margin-right: 1em;
  }
}

//.social {
//  display: inline;
//  margin-left: 1em;
//  list-style-type: none;
//  float: right;
//
//  li {
//    display: inline;
//    margin: .5em;
//    padding: .5em;
//    color: #ffffff;
//    background-color: #2F4454;
//  }
//}