.contact {
  list-style-type: none;
  text-align: center;
  border-style: solid;
  border-color: #ffffff;
  padding: 5em;
  display: block;
}

h2 {
  padding-bottom: 2em;
}

.email {
  background-color: #2F4454;
  color: white;
  display: inline;
  padding: .5em;
  margin-top: 5em;
  border-style: solid;
}