.footer {
  width: 100%;
  text-align: center;
}

.social {
  margin-left: 1em;
  list-style-type: none;

  li {
    display: inline;
    margin: .5em;
    padding: .5em;
    color: #ffffff;
    background-color: #2F4454;
  }
}